.thumbnail {
    width: 15%; /* Adjust size as needed */
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s, transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail.active {
    border-color: #007bff; /* Highlight color for active thumbnail */
}

/* BibTeX Section */